.content {
  padding-top: 40px;
  padding-bottom: 100px;
  &__products {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 220px);
    grid-row-gap: 1em;
    padding-top: 40px;
  }
}
