.header {
  &__inner {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
  }

  &__block-left,
  &__block-right {
    display: flex;
    align-items: center;
  }

  &__basket {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__price {
    margin-left: 10px;
  }

  &__info {
    margin-left: 16px;
  }

  &__text {
    color: #9d9d9d;
    font-weight: 400;
    line-height: 17px;
    margin-top: 5px;
  }

  &__like {
    margin: 0px 30px;
  }
}
